

@mixin link-hover(){
	color: $gray-darken-blue;
	transition: all 0.4s ease;
}
@mixin btn(){
	color: $bg-color-btn-slide;
	border: 2px solid $bg-color-btn-slide;
	padding: 1em;
	&:hover{
		background: $bg-color-btn-slide;
		border: 1px solid $bg-color-white;
		color: $bg-color-white;
		transition: all 0.4s ease;
	}
}
@mixin btn-add-to-cart{
    list-style: none;
    padding: 0;
    margin-top: 2em;
    display: flex;
    .cover-btn-glyph{
        padding-right: 8em;
        .glyph{
            margin: 0;
            padding: 0;
            padding-right: 3em;
            width: 0;
            .fs1{
                float: left;
                width: 10em;
                font-size: 15px;
                background: $bg-color-main;
                padding: 0.7em 0.5em;
                color: $bg-color-white;
                font-weight: bold;
                border-radius: 5px;
                a{
                   padding-left: 0.5em;
                   color: $bg-color-white;
                }
            }
        }
    }
    .heart{
        padding: 0.8em 0;
        padding-left: 0.5em;
        width: 4em;
        a{
            color: $bg-color-hv-menu;
            border: 1px solid $bg-color-border-product-heart-setting;
            padding: 0.8em 1em;
            border-radius: 5px;
            &:hover {
                background: $bg-color-main;
                color: $bg-color-white;
                border: 1px solid $bg-color-white;
            }
        }
    }
    .setting{
        @extend .heart;
    }
}