@import 'mixin';
@import 'variables';

body{
    font-family: 'Lato', sans-serif;
}
#bg-title-grid{
	.img-bg-title-grid{
		position: relative;
		img{
			min-width: 100%;
		}
	}
	.content-bg-title-grid{
		position: relative;
		text-align: center;
		margin-top: -20em;
		padding-bottom: 6em;
		h1{
			font-size: 35px;
			p{
				font-size: 35px;
				color: $bg-color-main;
				font-weight: bold;
				line-height: 0.7em;
				margin: 0;
			}
		}
		p{
			font-size: 15px;
			margin-top: 2em;
			margin-bottom: 4em;
		}
		a{
			@include btn();
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			padding: 0.7em 1.5em;
		}
	}
}
#content-grid{
	@extend #new-arrivals;
	margin: 4em 0;
	.content-grid-title{
		margin-bottom: 4em;
        .breadcrumb{
            background: none;
            border-bottom: 1px solid $bg-color-border-breadcrumb-product;
            border-radius: 0;
            padding-left: 0;
            .breadcrumb-item{
                a{
                    color: $bg-color-hv-menu;
                    &:hover {
                        color: $bg-color-main;
                    }
                }
            }
            .active{
                color: $bg-color-main;
            }
        }
	}
	.sidebar{
		.categories{
			h2{
				font-weight: bold;
			    font-size: 20px;
			    font-family: 'Oswald', sans-serif;
			    position: relative;
    			padding-bottom: 0.7em;
    			margin-top: 0;
    			&:before {
    				content: '';
				    position: absolute;
				    border-bottom: 3px solid #333;
				    width: 10%;
				    left: 0;
				    bottom: 0;
    			}
			}
			.btn-categories{
				background: none;
			    border: none;
			    width: 100%;
			    padding: 0;
			    margin-bottom: 1em;
			    padding-bottom: 1em;
			    border-bottom: 1px solid $bg-color-border-categories;
			    text-align: left;
			    color: $bg-color-black;
			    font-size: 13px;
			    font-weight: bold;
			    font-family: 'Montserrat', sans-serif;
			    outline: none;
				&:after {
					font-family: "Glyphicons Halflings";
					content: "\e114";
					float: right;
					margin-left: 15px;
				}
			}
			/* Icon when the collapsible content is hidden */
			.btn-categories.collapsed:after {
				content: "\e080";
			}
			.collapse{
				margin-bottom: 1.5em;
				a{
					color: $bg-color-hv-menu;
					&:hover {
						color: $bg-color-main;
						padding-left: 1em;
					}
				}
			}
		}
		.shop-by{
			@extend .categories;
			.Manufacturer{
				p{
					font-size: 14px;
					font-weight: bold;
					font-family: 'Montserrat', sans-serif;
					padding: 1em 0;
					border-bottom: 1px solid $bg-color-border-categories;
				}
				a{
					padding-bottom: 0.5em;
					display: block;
					color: $bg-color-hv-menu;
					&:hover {
						color: $bg-color-main;
					}
					span{
						color: $bg-color-grid-badge;
						background: none;
						float: right;
					}
				}
			}
			.color-options, .subcategory, .size-options{
				@extend .Manufacturer;
			}
			.demo{
				margin: 1em 0;
				.title-prince{
					font-size: 14px;
					font-weight: bold;
					font-family: 'Montserrat', sans-serif;
					padding: 1em 0;
					border-bottom: 1px solid $bg-color-border-categories;
				}
				.range-style{
					margin: 2em 0;
					background: #EEEEEE;
					border: none;
					.ui-slider-range{
						background: $bg-color-ui-slider-range;
					}
					.ui-state-default, .ui-widget-content .ui-state-default,
					.ui-widget-header .ui-state-default {
						background:url(../../assets/images/icon-grid-Sidebar-left.png) no-repeat
						 $bg-color-ui-slider-range 50% 50%;
						border: none;
						border-radius: 50%;
					}
				}
				p{
					float: left;
					input{ outline: none; }
				}
				a{
					@include btn();
					background: $bg-color-btn-slide;
					color: $bg-color-white;
					padding: 0.5em 1.2em;
					&:hover {
						color: $bg-color-btn-slide;
						background: none;
						border: 2px solid $bg-color-btn-slide;
					}
				}
			}
		}
	}
	.grid-content-detail-list{
		.show-click{
			a{
				background: $bg-color-select-grid;
				margin-right: 0.1em;
				border: none;
				border-radius: 0;
				padding: 0.5em 1em;
				&:hover {
					background: $bg-color-main;
					i{
						color: $bg-color-white;
					}
				}
				i{
					border: none;
				}
			}
			.active{
				background: $bg-color-main;
					i{
						color: $bg-color-white;
					}
			}
			select{
				color: $bg-color-text-tabs;
				padding: 0.4em;
				padding-bottom: 0.5em;
				border: none;
				background: $bg-color-select-grid;
				margin-left: 1.5em;
			}
			span{
				float: right;
				font-weight: bold;
				border-bottom: 1px solid $bg-color-prev;
				padding-bottom: 0.5em;
			}
		}
	}
	.slider{
		//display: flex;
		padding: 0;
		margin-top: 3em;
		/* display: none; */
		.item{
			.overlay{
				.text{
					top: 67%;
				}
			}
			.tetx{
				.lock{
					.glyph { width: 5em; padding-right: 0; }
				}
			}
		}
	}
	.news-product-slider{
		left: 13em;
		top: 4px;
    	width: 21.5%;
		p{
			padding-left: 0.8em;
		}
	}
	.sale-product-slider {
		top: 73px;
    	left: 184px;
    	&:before {
    		left: 3.6em;
    	}
		p{
			padding-left: 0.6em;
		}
	}
	.navigation-page{
		margin-top: 2em;
		.pagination{
			float: left;
			margin-top: 2em;
			li{
				&:first-child, &:last-child {
					a{
						&:hover { background: $bg-color-text-tabs; }
					}
				}
				a{
					border-radius: 50%;
					margin-right: 1em;
					background: $bg-color-pagination;
					color: $bg-color-white;
					&:hover {
						background: $bg-color-main;
					}
				}
			}
		}
		.showing{
			float: right;
			padding-top: 2em;
			font-weight: bold;
		    border-bottom: 1px solid #B1B1B1;
		    padding-bottom: 0.5em;
		}
	}
}