@import 'mixin';
@import 'variables';

body{
    font-family: "Roboto";
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

@for $i from 10 through 90 {
    .mg-top-#{$i} {
        margin-top: $i * 1px;
    }
}
.tx-sp-line-through{
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 400;
    color: #4E4E4E;
    padding-right: 1em;
}
.img-responsive {
    min-width: 100%;
}

#header{
    .cover-topheader{
        margin-top: 1.3em;
    }
    .select-language{
        color: $bg-color-tophead;
        float: left;
        select{
            border: none;
        }
    }
    .menu-topheader{
        ul{
            list-style: none;
            padding: 0;
            float: right;
            display: flex;
            li{
                padding-right: 1.1em;
                a{
                    color: $bg-color-tophead;
                    font-weight: 500;
                    &:hover{
                        color: $bg-color-main;
                    }
                }
            }
        }
    }
    .cover-bg-menu{
        background: $bg-color-header;
    }
    .navbar-default{
        background: $bg-color-header;
        border: none;
        margin-bottom: 0;
        /* margin-bottom: 0; */
        .container-fluid{
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-collapse {
            /* padding-bottom: 2.2em; */
            .navbar-right{
                padding-top: 0.5em;
            }
            .navbar-nav {
                li{
                    padding-bottom: 1em;
                    a{
                        color: $bg-color-white;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        &:hover{
                            color: $bg-color-main;
                        }
                    }
                }
                .menu-home{
                    position: relative;
                    &:hover .hv-menu{
                        display: block;
                    }
                    .active{ color: $bg-color-main; }
                }
                .search{
                    position: relative;
                    &:hover .sb-search{
                        display: block;
                    }
                }
                .menu-cart{
                    position: relative;
                    &:hover .hv-cart{
                        display: block;
                    }
                }
            }
        }
    }
    .hv-menu{
        position: absolute;
        margin-top: 1em;
        padding: 0;
        left: -13em;
        background: $bg-color-white;
        display: none;
        z-index: 999;
        box-shadow: 0px 0px 4px #606060;
        .hv-product{
            list-style: none;
            padding: 0;
            display: flex;
            width: 40em;
            padding-left: 2.5em;
            .hv-list{
                padding-right: 2em;
                h2{
                    font-size: 15px;
                    color: $bg-color-black;
                    border-left: 1.5px solid $bg-color-main;
                    padding-left: 0.5em;
                    font-weight: bold;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    .product-detail{
                        padding: 1em 0;
                        border-bottom: 1px solid $bg-color-hv-menu-border;
                        a{
                            font-size: 12px;
                            color: $bg-color-hv-menu;
                            &:hover{
                                color: $bg-color-main;
                            }
                        }
                    }
                }
            }
        }
    }
    .sb-search{
        display: none;
        position: absolute;
        border: none;
        background: #fff;
        margin-top: 1em;
        left: -27.5em;
        width: 32.5em;
        box-shadow: 0px 0px 4px #606060;
        z-index: 999;
        .sb-search-input{
            border: none;
            width: 90%;
            padding: 1em;
            outline: none;
            &:focus{
                border: none;
            }
        }
        .sb-search-submit {
            float: right;
            padding: 0 1em;
            margin-top: 1em;
            border: none;
            background: url(../../assets/images/icon-search.png) no-repeat;
        }
    }
    .a-badge{
        position: relative;
        .badge{
            position: absolute;
            font-size: 8px;
            padding: 4px 4px;
            top: 8px;
            right: 2px;
            background: $bg-color-main;
            border-radius: 50%;
        }
    }
    .hv-cart{
        position: absolute;
        display: none;
        z-index: 999;
        width: 20em;
        height: auto;
        left: -17em;
        padding: 2em 0;
        margin-top: 1em;
        background: $bg-color-white;
        box-shadow: 0px 0px 4px $bg-color-hv-menu;
        .info-cart{
            padding: 0 1em;
            ul{
                list-style: none;
                padding: 0;
                display: block;
                border-bottom: 1px solid $bg-color-hv-menu-border;
                padding-bottom: 1.5em;
                li{
                    padding-right: 1em;
                    .img-icon-close{
                        color: $bg-color-black;
                    }
                    p{
                        color: $bg-color-hv-text-cart;
                        .title-hover-cart{
                            color: $bg-color-hv-text-cart;
                        }
                    }
                    span{
                        color: $bg-color-main;
                    }
                }
            }
        }
        .content-cart{
            padding: 0 1em;
            ul{
                list-style: none;
                padding: 0;
                li{
                    color: $bg-color-hv-text-cart;
                    &:first-child{
                        float: left;
                    }
                    &:last-child{
                        float: right;
                    }
                    p{
                        font-weight: 500;
                    }
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
        .btn-cart{
            background: $bg-color-btn-cart;
            ul{
                list-style: none;
                padding: 0;
                margin-top: 4em;
                text-align: center;
                li{
                    padding: 2em 0;
                    .btn-view-cart{
                        @include btn();
                        padding: 1em 6em;
                        border: 1.5px solid $bg-color-border-btn-cart;
                        color: $bg-color-border-btn-cart;
                        &:hover{
                            background: $bg-color-main;
                            color: $bg-color-white;
                        }
                    }
                }
            }
        }
    }
}
#banner{
    margin-top: 0;
    .carousel-inner{
        .item{
            img{ width: 100%; }
            .carousel-caption{
                text-align: left;
                left: 0;
                right: 0;
                top: 0;
                position: absolute;
                overflow: hidden;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    font-size: 12px;
                    color: $bg-color-black;
                }
                h2{
                    font-size: 40px;
                    font-weight: bold;
                    color: $bg-color-black;
                    margin-bottom: 0;
                    line-height: 0.6em;
                }
                h3{
                    font-size: 30px;
                    color: $bg-color-main;
                    font-weight: 100;
                    margin-top: 0;
                }
                p{
                    font-size: 13.5px;
                    line-height: 2em;
                    margin-bottom: 4em;
                    color: $bg-color-text-slide;
                }
                a{
                    @include btn();
                }
            }
        }
    }
    .carousel-control.left{ background: none; width: 0; }
    .carousel-control.right{ @extend .carousel-control.left; }
    .glyphicon-chevron-left{
        border-radius: 20px;
        left: 1.5em;
        width: 1.4em;
        height: 1.4em;
        background: $bg-color-prev;
        &:before{ content: ''; }
        &:hover{
            background: $bg-color-main;
        }
    }
    .glyphicon-chevron-right{
        border-radius: 20px;
        background: $bg-color-prev;
        right: 1.5em;
        width: 1.4em;
        height: 1.4em;
        &:before{ content: ''; }
        &:hover{
            background: $bg-color-main;
        }
    }
    .active{
        background: $bg-color-main;
    }
}
#product-list{
    margin-top: 2.3em;
    margin-bottom: 2.3em;
    .second-effect{
        position: relative;
        img{ display:block;width: 100%; height: auto;}
        &:hover .overlay {
            bottom: 0;
            height: 100%;
        }
        .news-product{
            @include news-product();
            top: 1em;
            &:before {
                left: 3.8em;
            }
            p{
                color: $bg-color-white;
                font-size: 15px;
                background: $bg-color-main;
                padding: 0.5em 0;
                padding-left: 0.5em;
                width: 3.5em;
            }
        }
        .overlay {
            @include cl-overlay();
            text-align: right;
            padding-right: 1em;
            a{
                color: $bg-color-black;
                font-size: 25px;
                font-weight: bold;
                &:hover {
                    color: $bg-color-white;
                }
            }
            p{
                color: $bg-color-hv-menu;
                font-size: 14px;
                font-weight: 700;
            }
            span{
                color: $bg-color-main;
                font-size: 18px;
                font-weight: 800;
            }
            .text {
                @include cl-text();
                left: 70%;
                top: 50%;
                width: 50%;
                text-align: left;
            }
        }
    }
}

#new-arrivals{
    margin-top: 4em;
    .title-new-arrivals{
        text-align: center;
        margin-bottom: 3em;
        h3{
            font-weight: bold;
        }
        p{
            color: $bg-color-hv-menu;
        }
    }
    .news-product-slider{
        @include news-product();
        top: 5px;
        left: 14em;
        padding: 0;
        &:before{
            left: 3.7em;
        }
        p{
            color: $bg-color-white;
            font-size: 15px;
            background: $bg-color-main;
            padding: 0.5em 0;
            padding-left: 0.5em;
        }
    }
    .sale-product-slider{
        @include news-product();
        top: 76px;
        left: 14em;
        padding: 0;
        &:before{
            left: 3.7em;
            border-bottom: 18px solid $bg-color-sale-product;
            border-top: 18px solid $bg-color-sale-product;
            border-left: 20px solid transparent;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0.55em;
            left: -1.96em;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 20px solid $bg-color-sale-product;
            transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
        }
        p{
            color: $bg-color-white;
            font-size: 15px;
            background: $bg-color-sale-product;
            padding: 0.5em 0;
            padding-left: 0.5em;
        }
    }
    .item{
        padding-right: 1em;
        .slider-item {
            position: relative;
        }
        &:hover .overlay {
            bottom: 0;
            height: 100%;
        }
        .overlay {
            @include cl-overlay();
            background: none;
            cursor: pointer;
            .text {
                @include cl-text();
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid #C8C8C8;
            }
            a:hover{
                color: #fff;
                padding: 5px 10px;
                background-color: #79B6C8;
                border-radius: 5px;
            }
        }
        .tetx{
            list-style: none;
            padding: 0;
            margin-top: 1.5em;
            .text-detail{
                float: left;
                width: 70%;
                h4{
                    margin-top: 0;
                    a{
                        color: $bg-color-hv-menu; font-weight: 500;
                        font-size: 14px;
                        outline: none;
                        &:hover {
                            color: $bg-color-main;
                        }
                    }
                }
                span{ font-size: 15px; color: $bg-color-main; }
            }
            .lock{
                float: right;
                a{
                    color: $bg-color-black;
                    outline: none;
                    &:hover{
                        color: $bg-color-main;
                    }
                    i{ font-size: 2em; }
                }
                .glyph {
                    margin: 0;
                    padding-right: 1em;
                    padding-top: 0;
                    text-align: right;
                    font-size: 11px;
                    width: 30%;
                }
            }
        }
    }
    .img-detail-content{
        margin-top: -8em;
        margin-left: 4em;
        z-index: 999;
        position: relative;
        .news-product-detail{
            @include news-product();
            top: 0.5em;
            left: 30em;
            padding: 0;
            width: 11.8%;
            &:before{
                left: 4em;
            }
            p{
                color: $bg-color-white;
                font-size: 15px;
                background: $bg-color-main;
                padding: 0.5em 0;
                padding-left: 1.1em;
            }
        }
        .sale-product-detail{
            @include news-product();
            top: 5.5em;
            left: 30.4em;
            padding: 0;
            width: 9.8%;
            &:before{
                left: 3.46em;
                border-bottom: 18px solid $bg-color-sale-product;
                border-top: 18px solid $bg-color-sale-product;
                border-left: 20px solid transparent;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0.55em;
                left: -1.96em;
                border-left: 18px solid transparent;
                border-right: 18px solid transparent;
                border-bottom: 20px solid $bg-color-sale-product;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
            }
            p{
                color: $bg-color-white;
                font-size: 15px;
                background: $bg-color-sale-product;
                padding: 0.5em 0;
                padding-left: 0.1em;
            }
        }
    }
    .detail-content-product{
        margin-top: 15em;
        border-style: dotted;
        border-width: 1px;
        padding-bottom: 30em;
        border-color: $bg-color-boder-dotted;
        position: relative;
        z-index: 9;
        &:before {
            content: '';
            position: absolute;
            border-style: dotted;
            border-width: 1px;
            padding-bottom: 29em;
            border-color: $bg-color-boder-dotted;
            top: 1%;
            left: 0.5%;
            width: 99%;
        }
        &:after {
            content: '';
            position: absolute;
            border-style: dotted;
            border-width: 1px;
            padding-bottom: 28em;
            border-color: $bg-color-boder-dotted;
            top: 2.5%;
            left: 1%;
            width: 98%;
        }
        .detail-content{
            margin-top: 3em;
            position: relative;
            z-index: 999;
            h4{
                a{
                    font-weight: bold;
                    color: $bg-color-black;
                    &:hover {
                        color: $bg-color-main;
                    }
                }
            }
            .breadcrumb{
                background: none;
                padding: 1.5em 0;
                margin: 0;
                li{
                    font-size: 17px;
                    i{
                        &:hover {
                            color: $bg-color-main;
                        }
                    }
                    a{
                        color: $bg-color-text-breadcrumb;
                        &:hover {
                            color: $bg-color-main;
                        }
                    }
                }
            }
            .tx-sp-cl{
                color: $bg-color-main;
                font-weight: bold;
                font-size: 20px;
                padding-right: 1em;
            }
            .parameter{
                list-style: none;
                padding: 0;
                margin-top: 1.5em;
                li{
                    color: $bg-color-text-breadcrumb;
                    font-size: 17px;
                    padding: 0.3em 0;
                    span{
                        color: $bg-color-main;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

#featured-products{
    margin-top: 5em;
    @extend #new-arrivals;
    .news-product-slider, .sale-product-slider{ left: 14em; }
    .slider{
        list-style: none;
        padding: 0;
        display: flex;
    }
    .item .overlay .text { top: 68%; }
}


#purchase{
    margin-top: 5em;
    position: relative;
    .content-purchase{
        position: relative;
    }
    .text-content-purchase{
        position: relative;
        top: -10em;
        border-style: dotted;
        border-color: $bg-color-white;
        border-width: 1px;
        padding: 1em;
        margin: 0 1em;
        padding-bottom: 7.5em;
        h4{
            font-size: 30px;
            font-weight: bold;
            float: left;
            span{
                &:first-child {
                    color: $bg-color-main;
                }
                &:last-child {
                    color: $bg-color-black;
                }
            }
        }
        p{ float: left; }
        .btn-purchase{
            float: right;
            margin-top: -1em;
            margin-right: 5em;
            a{
                @include btn();
                padding: 0.5em 2.5em;
                font-weight: bold;
            }
        }
    }
}

#out-blog{
    @extend #featured-products;
    margin-top: 0;
    .content-out-blog{
        list-style: none;
        padding: 0;
        display: flex;
        .img-blog{
            padding-right: 2em;
        }
        .text-blog{
            margin-top: 2em;
            .breadcrumb{
                background: none;
                li{
                    &:first-child {
                        font-size: 40px;
                        font-weight: bold;
                    }
                    &:last-child {
                        font-size: 13px;
                        color: $bg-color-main;
                    }
                }
            }
            h4{
                font-weight: bold;
                position: relative;
                padding-bottom: 0.5em;
                margin-bottom: 1em;
                &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 3px solid $bg-color-main;
                    width: 15%;
                    left: 0;
                    bottom: 0;
                }
                a{
                    font-size: 17px;
                }
            }
            p{
                color: $bg-color-text-blog;
                font-size: 13px;
            }
            a{
                color: $bg-color-black;
                font-size: 15px;
                font-weight: 500;
                &:hover {
                    color: $bg-color-main; 
                }
                i{
                    padding-left: 1em;
                }
            }
        }
    }
    .blog-face{
        border-top-style: dotted;
        border-bottom-style: dotted;
        border-width: 1px;
        border-color: $bg-color-border-blog;
        padding: 2em 0;
        margin-top: 4em;
        .logo-face{
            padding-left: 7em;
        }
    }
}

#sign-up{
    background: url(../../assets/images/img-sign-up.png) no-repeat;
    background-size: cover;
    margin-top: 5em;
    .content-sign-up{
        text-align: center;
        padding: 6em;
        h4{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 1em;
        }
        p{
            color: $bg-color-hv-menu;
            margin-bottom: 4em;
        }
        .sb-subscribe{
            form{
                width: 100%;
                .sb-subscribe-input{
                    padding: 0.5em;
                    background: none;
                    border: 2px solid $bg-color-border-btn-face;
                    border-right: none;
                    padding-left: 2em;
                    padding-right: 20em;
                    width: 95%;
                    font-weight: 500;
                    &:focus {
                        border: none;
                    }
                }
            }
        }
        .sb-subscribe-submit{
            background: url(../../assets/images/icon-submit-sign-up.png) no-repeat 10%;
            border: 2px solid $bg-color-border-btn-face;
            border-left: none;
            padding-top: 3px;
            padding-bottom: 11px;
            padding-left: 0;
            padding-right: 25px;
            margin-left: -5px;
        }
    }
}

#testimonials{
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    .slick-prev, .slick-next{
        background: #dedede;
        top: 38%;
        border-radius: 50%;
    }
    .slider-item{
        img{ margin: 0 auto; border-radius: 50%; }
    }
    .tetx{
        list-style: none;
        padding: 0;
        text-align: center;
        margin-top: 2em;
        h6{
            font-weight: bold;
            font-size: 15px;
        }
        a{
            color: $bg-color-main;
            font-weight: bold;
            font-size: 13px;
        }
    }
    .text-testimonials{
        text-align: center;
        margin-top: 3em;
        p{
            color: $bg-color-hv-menu;
            margin-bottom: 5em;
        }
    }
    .shipping{
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            li{
                border-style: dotted;
                border-width: 1px;
                border-color: #ccc;
                padding: 3em 4em;
                margin-right: 3em;
                margin-left: 3em;
                &:hover {
                    color: $bg-color-main;
                    border-color: $bg-color-main;
                    .text-shipping{
                        h5{ color: $bg-color-text-shipping; }
                        p{ color: $bg-color-text-shipping; }
                    }
                }
                .glyph{
                    float: none;
                    margin: 0 auto;
                }
                .text-shipping{
                    h5{
                        color: $bg-color-text-shipping;
                        font-weight: bold;
                        text-align: center;
                    }
                    p{
                        color: $bg-color-text-shipping;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#footer{
    position: relative;
    padding-bottom: 3em;
    background: url(../../assets/images/bg-footer.png) $bg-color-footer;
    .container{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            border-left: 12em solid transparent;
            border-right: 12em solid transparent;
            border-top: 2.5em solid $bg-color-white;
            display: block;
            top: 0;
            left: calc(100% - 63%);
            z-index: 9;
        }
    }
    .back-to-top{
        text-align: center;
        margin-top: 1.5em;
        position: absolute;
        z-index: 99;
        left: calc(100% - 50%);
        a{
            background: $bg-color-main;
            color: $bg-color-white;
            border: 3px solid $bg-color-main;
            padding: 1em 1.3em;
            border-radius: 5em;
            /* margin-left: 5.3em; */
            &:hover {
                color: $bg-color-main;
                background: $bg-color-white;
                transition: all 0.4s;
            }
            position: relative;
            &:before{
                content: '';
                position: absolute;
                border-style: dotted;
                padding: 2.2em;
                top: -10px;
                left: -10px;
                border-color: #dedede;
                border-radius: 5em;
                border-width: 1.5px;
            }
            &:after{
                content: '';
                position: absolute;
                border-style: dotted;
                padding: 2.8em;
                top: -18px;
                left: -18px;
                border-color: #dedede;
                border-radius: 5em;
                border-width: 1.5px;
            }
        }
    }
    .about-store{
        margin-top: 9.5em;
        background: url(../../assets/images/bg-footer-maps.png) no-repeat 0 60%;
        background-size: contain;
        h3{
            color: $bg-color-white;
            font-size: 20px;
            font-weight: bold;
            border-left: 2px solid $bg-color-main;
            padding: 0 1em;
            margin-bottom: 2em;
            font-family: 'Oswald', sans-serif;
        }
        p{
            color: $bg-color-text-footer;
            margin-bottom: 1.5em;
            i{
                color: $bg-color-white;
                padding-right: 1em;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            margin-top: 3.5em;
            li{
                padding-right: 1em;
                img{
                    max-height: 100%;
                }
            }
        }
    }
    .my-account{
        @extend .about-store;
        background: none;
        ul{
            display: block;
            list-style: inherit;
            margin-top: 2.5em;
            padding-left: 1em;
            color: $bg-color-text-footer;
            li{
                padding-bottom: 1.5em;
                a{
                    color: $bg-color-text-footer;
                    &:hover{
                        color: $bg-color-main;
                    }
                }
            }
        }
    }
    .infomation, .customer-service{
        @extend .my-account;
    }
}
#footer-end{
    background: $bg-color-footer-end;
    .text-footer-end{
        color: $bg-color-text-footer;
        margin: 1.5em 0;
    }
    .links-end{
        margin: 1.5em 0;
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            float: right;
            li{
                padding: 0 2em;
                border-left-style: dotted;
                border-width: 1.5px;
                &:last-child{
                    border-right-style: dotted;
                }
                a{
                    color: $bg-color-text-footer;
                    &:hover{
                        color: $bg-color-main;
                    }
                }
            }
        }
    }
}