
@include responsive_1920 {
}

@include responsive_1300 {
    
}

@include responsive_1200 {
    
}

@include responsive_1024 {
	#content-check-out .create form .bt-res { font-size: 12px; }
}

@include responsive_992 {
    
}

@include responsive_800 {
    #content-check-out .create p{ margin-bottom: 2.8em; }
    #content-check-out .create form .bt-res { font-size: 10px; }
    #show-list-infomation{ margin-left: 1em; }
}

@include responsive_600 {

}

@include responsive_568 {
}

@include responsive_480 {
}

@include responsive_320 {
    #content-check-out .create form .bt-res { font-size: 8px; }
}