
//font-family
//$font-stack: ;

//background - color
$bg-color-black: #000 !default;
$bg-color-white: #fff !default;
$bg-color-red: #FF1313 !default;

$bg-color-tophead: #707070 !default;
$bg-color-header: #303030 !default;
$bg-color-main: #79B6C8 !default;
$bg-color-hv-menu: #606060 !default;
$bg-color-hv-menu-border: #F1F1F1 !default;

$bg-color-hv-text-cart: #454545 !default;
$bg-color-btn-cart: #303030 !default;
$bg-color-btn-cart-list-show: #4A4A4A !default;
$bg-color-border-btn-cart: #707070 !default;

$bg-color-text-slide: #1F1F1F !default;
$bg-color-btn-slide: #353535 !default;
$bg-color-prev: #B1B1B1 !default;
$bg-color-text-breadcrumb: #4E4E4E !default;

$bg-color-text-blog: #7B7B7B !default;
$bg-color-border-blog: #EBEBEB !default;
$bg-color-border-btn-face: #CCCCCC !default;

$bg-color-text-shipping: #5B5B5B !default;


$bg-color-sale-product: #535353 !default;
$bg-color-grid-badge: #C2C2C2 !default;

$bg-color-ui-slider-range: #90C1D0 !default;

$bg-color-select-product: #888888 !default;
$bg-color-text-tabs: #333333 !default;

$bg-color-blue: #2485f1 !default;
$bg-color-footer: #262626 !default;
$bg-color-text-footer: #8E8E8E !default;
$bg-color-end: #323232 !default;
$bg-color-footer-end: #2D2D2D !default;
$bg-color-author: #AA1116 !default;

$bg-color-pagination: #DBDDDC !default;

$bg-color-select-grid: #EEEEEE !default;

$bg-color-title-p: #A6A6A6 !default;

$bg-color-login-account: #79B6C8 !default;
$bg-color-login-facebook: #2C5990 !default;
$bg-color-login-twitter: #16BCE6 !default;

$bg-color-blog-post-span: #AFAFAF !default;

//bg-color-border
$bg-color-boder-dotted: #C9C9C9 !default;
$bg-color-border-breadcrumb-product: #EBEBEB !default;
$bg-color-border-product-heart-setting: #C8C8C8 !default;
$bg-color-border-categories: #D9D9D9 !default;

$bg-color-border-share-to: #E5E5E5 !default;

$bg-color-border-input-shopping-cart: #DDDDDD !default;

$bg-color-border-th-shopping-cart: #D9D9D9 !default;

$bg-color-hover-support: #D9BF8F !default;

// color lighten
$gray-lighten: lighten($bg-color-black, 20%) !default;   // #333

//colr darken
$gray-darken: darken($bg-color-white, 50%) !default;
$gray-darken-blue: darken($bg-color-blue, 15%) !default;

//background color body
$bg-body: #fff !default;

// text color body
$text-color:            $gray-lighten !default;
$text-color-tophead: #393939 !default;

// link color.
$link-color:            $bg-color-red !default;
// Link hover color 
$link-hover-color:      darken($link-color, 15%) !default;
// Link hover decoration.
$link-hover-decoration: underline !default;

//responsive

$res_320 : "only screen and (max-width: 320px)";
$res_480 : "only screen and (max-width: 480px)";
$res_568 : "only screen and (max-width: 568px)";
$res_600 : "only screen and (max-width: 600px)";
$res_800 : "only screen and (max-width: 800px)";
$res_992 : "only screen and (max-width: 992px)";
$res_1024 : "only screen and (max-width: 1024px)";
$res_1200 : "only screen and (max-width: 1200px)";
$res_1300 : "only screen and (max-width: 1300px)";
$res_1920 : "only screen and (max-width: 1920px)";

// Spacing
$base-spacing: 1em;

// Colors
$off-white: #F5F5F5;
$base-accent-color: #34Bf49;

// Thumb Opacity Settings
$thumb-opacity-inactive: 0.75;
$thumb-opacity-hover: 1;
$thumb-opacity-active: 0.2;

// Icon Opacity Settings
$icon-opacity-norm: 0.5;
$icon-opacity-hover: 1;

// Transition Settings
$base-transition-timing: cubic-bezier(0.455,  0.030, 0.515, 0.955);
$base-transition-duration: .3s;